{% comment %}

    Adds html video element with source given in object_location.
    Sizing is controlled using Bootstrap "ratio" styles.

{%- endcomment -%}
<div class="ratio ratio-16x9">
    <video width="320" height="240" controls>
        <source src="{{ page.object_location | relative_url }}">
        Your browser does not support the video tag. Please <a href="{{ page.object_location | relative_url }}">download the video file</a>.
        {% if page.transcript %}
        <track label="{%if page.transcript contains "fr" %}French{% else %}English{% endif %}" kind="subtitles" srclang="{{page.transcript }}" src="{{ '/assets/captions/' | append: page.objectid | append: '.vtt' }}" />{% endif %}
        {% if page.translation %}
        <track label="English" kind="subtitles" srclang="{{page.translation }}" src="{{ '/assets/captions/' | append: page.objectid | append: '-en.vtt' }}" default />{% endif %}
    </video>
</div>