---
layout: default
custom-foot: essay/essay-scroll-js.html
---
{% if page.featured-image %}{% include essay/top-cover.html %}{% endif %}
<h1 class="mt-5 essay-main">{{page.title}}</h1>
{% if page.author %}<p class="fs-4 mt-3 ps-3 essay-main fst-italic">by {{page.author}}</p>{% endif %}
{% if page.date %}<p class="fs-5 mt-3 ps-3 essay-main fst-italic">{{page.date}}</p>{% endif %}
{% if page.essay-collection%}
{% include essay/scrolling-content.html %}{% else %}
<div id="scrolly" class="container my-4">
    <article id="step0">
{{content}}
<div class="row step d-none" data-id="step" >
    <div class="{{include.style | default: 'essay-main' }}" markdown="1">
        <p>This is the end. </p>
    </div>
</div>
    </article>
</div>
{% endif %}

