---
layout: default
gallery: true
---
{% assign objectid = page.objectid %}{% assign background-color = page.background-color %}{% assign text-color = page.text-color %}{% assign font-size = page.font-size %}{% assign content-width = page.content-width %}{% assign content-indent = page.additional-content-styles %}{% assign additional-content-styles = page.content-width %}{% assign header = page.header %}{% assign section-content = content %}

{% include feature/section-title-image.html %}

<div class="container my-5">
<div class="row">
    <div id="scrolly" class="container my-4"> 
        <article>
   {{content}}
        </article>
    </div>
</div>
<div class="text-end" id="next-section-button">
        {% if page.next %}<a class="display-6 btn btn-lg btn-outline-dark next-button" href="{{ page.next.url | relative_url }}">{% if page.next.section-title %}{{ page.next.section-title }} &raquo;{% else %}Next &raquo;{% endif %}</a>{% endif %}
    </div>
</div>
