<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
   
    <main id="maincontent" role="main" class="flex-shrink-0">
 
      {% include essay/title-sequence.html %}

  <div class="row mb-5 pb-3 px-3 bg-white">

    <div class="col-md-5 offset-md-1">{% include feature/image.html objectid="/assets/img/mas-st-pierre.png"%}
    </div>
    <div class="col-md-6">{% include feature/image.html objectid="/assets/img/mas-lombard.png"%}
</div>



    </div>
      {{ content }}

      
    </main>
  
    {% include foot.html %}
  </body>
</html>