---
layout: home-default
---

<div class="row">
    <div class="col">
            {% include feature/image.html link="/essay/random.html"  objectid="/assets/img/image001.jpg" %}
     
    </div>
    <div class="col">
      
            {% include feature/image.html link="/essay/test.html" objectid="/assets/img/image004.png" %}

    </div>
    <div class="col">
      
            {% include feature/image.html link="/essay/frontmatter.html"  objectid="/assets/img/image002.jpg" %}
        
    </div>
</div>